

{{message-queue}}

  <div class="section">
    <div class="column-2">
      {{input placeholder="Add a title!" value=noteTitle}}

      {{textarea placeholder="Add a note!" value=noteCopy}}
    </div>

    <div class="column-2">
      <div class="input-preview">
          {{noteTitle}}
      </div>

      <div class="textarea-preview">
        <button class="right-action" {{action 'newNote'}}> Add a note </button>
        {{noteCopy}}
      </div>
    </div>
  </div>

  <div class="section">
    <div class="saved-notes">
      <h2>Saved Notes</h2>
      {{#each note in model}}
      {{local-note note=note deleteNote="deleteNote"}}
      {{/each}}
    </div>
  </div>

{{outlet}}
